<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="group tests">
        <groups>
            <run>
                <include name="smoke"/>
                <exclude name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="com.sda.mentoring.T02AttributePracticeTest_Henna">

            </class>
            <class name="com.sda.mentoring.T02AttributePracticeTest_Youmna"></class>
        </classes>
    </test>
</suite>